:root {
  --primary-color-dark: #043873;
  --primary-color-light: #4f9cf9;

  --secondary-yellow: #ffe492;
  --secondary-blue: #a7cefc;
  --secondary-white: #ffffff;
  --secondary-white-alternative: #f7f7ee;
  --secondary-black: #212529;
}
